[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.unityproj
*.booproj
*.opendb
*.VC.db
.vs/
.idea/
.DS_Store
__pycache__/
*.pyc
artifacts/
