<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.VIBRATE" />
  <application>
    <provider android:name="com.horizon.media.TimelineShareProvider" android:authorities="${applicationId}.horizonshare" android:exported="false" android:grantUriPermissions="true" />
  </application>
</manifest>
